doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register | MC Recipe Swap
    link(rel="stylesheet" href="../css/styles.css")
  body
    .container
      h2 Register User
      form
        input(type="text" placeholder="Username" required)
        input(type="email" placeholder="E-mail" required)
        input(type="password" placeholder="Password" required)
        input(type="password" placeholder="Confirm Password" required)
        button.btn(type="submit") Sign Up
      p.bottom-text
        | Already have an account? 
        a(href="/html/login.html") Log In