extends layout.pug

block content
  .container
    h1.page-title MC RECIPE SWAP APP - HOME PAGE
    .home-image
      img(src="/BackToLab/src/images/home.jpg", alt="Home Page Image")
    .home-buttons
      a.btn-large(href="/html/view-recipes.html") View Recipes
      a.btn-large(href="/html/search-recipes.html") Search for Recipes
      a.btn-large(href="/html/upload.html") Upload Recipes
      a.btn-large(href="/html/shopping-list.html") Create Shopping List
      a.btn-large(href="/html/user.html") View users
