extends layout.pug

block content
  .container
    h1.page-title MC RECIPE SWAP APP - HOME PAGE
    .home-image
      img(src="/images/home.jpg", alt="Home Page Image")
    .home-buttons
      a.btn-large(href="/recipes") View Recipes
      a.btn-large(href="/search_recipes") Search for Recipes
      a.btn-large(href="/upload") Upload Recipes
      a.btn-large(href="/shopping_list") Create Shopping List
      a.btn-large(href="/user") View Users

