doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MC Recipe Swap App
    // Link to external CSS
    link(rel="stylesheet", href="/css/styles.css")
  body
    // Include a common header here
    header
      h1 MC Recipe Swap
    // This block will be replaced by the content of each individual page
    block content