doctype html
html(lang="en")
  head
    title MC Recipe Swap App
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      nav
        a(href="/") Home
        a(href="/recipes") View All Recipes
        a(href="/login") Login 
        a(href="/register") Create Account
        a(href="/recipes/search/results") Search Recipes 
        a(href="/dashboard") Dashboard
    main
      block content
    footer
      p &copy; 2025 MC Recipe Swap App. All rights reserved.
