extends layout

block content
    h1 Search Recipes
    form(action="/search-recipes", method="GET")
        label Ingredient:
        input(type="text", name="ingredient")

        label Cuisine Type:
        select(name="cuisine")
            option(value="Italian") Italian
            option(value="Mexican") Mexican
            option(value="Asian_Cuisine") Asian_Cuisine
            option(value="Vegan") Vegan
            option(value="Desserts") Desserts

        label Skill Level:
        select(name="skill_level")
            option(value="Toaster") Toaster
            option(value="Sizzler") Sizzler
            option(value="Flambe") Flambe
        button(type="submit") Search

    if recipes
        h2 Search Results
        each recipe in recipes
            p= recipe.name
