extends layout.pug

block content
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Upload Your Recipe
      link(rel="stylesheet" href="../css/styles.css")
    body
      .container
        h1.title Upload Your Recipe
        form(action="/upload" method="post" enctype="multipart/form-data")
          label(for="dish-name") Dish Name:
          input(type="text" id="dish-name" name="title" required)
          
          label(for="country-origin") Country of Origin:
          input(type="text" id="country-origin" name="country_origin" required)
          
          .flex-container
            .input-group
              label(for="ingredients") Ingredients:
              textarea(id="ingredients" name="ingredients" required)
            .input-group
              label(for="method") Method:
              textarea(id="method" name="instructions" required)
          
          .flex-container
            .input-group
              label(for="prep-duration") Preparation Duration:
              input(type="text" id="prep-duration" name="prep_duration" required)
            .input-group
              label(for="cook-duration") Cooking Duration:
              input(type="text" id="cook-duration" name="cook_duration" required)

          label(for="upload-image") Upload Image:
          input(type="file" id="upload-image" name="upload-image" accept="image/*" required)
          
          // New fields added for meal category and skill level
          label(for="meal_Categories_id") Meal Category:
          select(id="meal_Categories_id" name="meal_Categories_id" required)
            option(value="1") Italian
            option(value="2") Mexican
            option(value="3") Vegan
            option(value="3") Desserts
            option(value="3") Asian Cuisine


          label(for="skill_level_id") Skill Level:
          select(id="skill_level_id" name="skill_level_id" required)
            option(value="1") Toaster
            option(value="2") Sizzler
            option(value="3") Flambe  
          
          if registeredUser
            button.submit-btn(type="submit") Submit
          else
            p You must be registered to upload a recipe.
