// views/users.pug

extends layout.pug

block content
  .container
    h1 Users List

    table
      thead
        tr
          th ID
          th Name
          th Email
          th Created At
      tbody
        each user in users
          tr
            td= user.id
            td= user.name
            td= user.email
            td= user.created_at

